@import url("normalize.min.css");
/* Colors */
/* Fonts */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  font-weight: 500;
  background-color: #f9f9f9;
}

.container {
  width: 100%;
  max-width: 1260px;
  padding: 0 45px;
  margin: 0 auto;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.container--gray {
  background-color: #f9f9f9;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0 45px;
  margin: 0 auto;
}

.container--md {
  width: 100%;
  max-width: 830px;
  padding: 0 15px;
  margin: 0 auto;
  background-color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

section {
  overflow: hidden;
}

img {
  max-width: 100%;
  width: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style-type: none;
}

button,
a {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.section--padding {
  padding: 64px 0;
  background-color: #fff;
}

.section--padding-md {
  padding: 48px 0;
}

.section--padding-sm {
  padding: 16px 0;
}

.section__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px 0;
  margin-bottom: 35px;
}

.section__title {
  margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #151515;
}

.section__title--lg {
  font-size: 32px;
  line-height: 48px;
}

.section__link:hover {
  text-decoration: underline;
}

.section__link--view {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #A9A9A9;
  margin-right: 24px;
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
}

.section__link--view.active {
  color: #151515;
}

.section__link--view img {
  vertical-align: text-bottom;
}

.section__link--view:hover {
  text-decoration: none;
  opacity: 0.7;
}

.btn,
button,
a {
  display: inline-block;
  border: none;
  border-radius: 12px;
  color: #151515;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
}

/* Color */
.btn--primary {
  background-color: #6A983C;
  color: #fff;
  border: 2px solid #51732e;
}

.btn--bordered {
  background-color: transparent;
  border: 2px solid #92C064;
}

.btn--gray {
  background-color: #f5f5f5;
  border: none;
}

.btn--transparent {
  background-color: #fff;
  border: none;
}

/* Size*/
.btn--default {
  padding: 17px 48px;
}

.btn--sm {
  padding: 12.5px 16px;
}

.btn--xs {
  padding: 6.5px 12px;
}

.header__top {
  padding: 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #f5f5f5;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__item:not(:last-child) {
  margin-right: 35px;
}

.header__link {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #6A983C;
  position: relative;
}

.header__link::after {
  display: none;
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #51732e;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.header__link:hover:not(.mail-to):not(.call-to)::after {
  display: block;
}

.header__middle {
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav {
  background-color: #f9f9f9;
  padding: 16px 0;
}

.call-to,
.mail-to {
  color: #151515;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.call-to:hover,
.mail-to:hover {
  color: #37D0D6;
}

.user {
  margin-right: 40px;
}

.cart {
  width: 24px;
  height: 24px;
}

.cart__link {
  position: relative;
}

.cart__link::after {
  position: absolute;
  content: "4";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  left: -5px;
  bottom: 0;
  background-color: #E6704B;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
}

.aside__wrap {
  max-width: 250px;
}

.aside__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #151515;
  margin: 0;
  margin-bottom: 20px;
}

.aside__list {
  margin-bottom: 48px;
}

.aside__item {
  margin-bottom: 12px;
}

.aside__link {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #6A983C;
  -webkit-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
}

.aside__link:hover {
  opacity: .7;
}

.aside--btn {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.aside--btn:hover {
  background-color: gainsboro;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 32px;
}

.footer__item {
  margin-bottom: 16px;
}

.footer__link {
  text-decoration: none;
}

.footer__middle {
  margin-bottom: 32px;
}

.footer__copyright {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #151515;
}

.tags__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tags__item:not(:last-child) {
  margin-right: 12px;
  margin-bottom: 16px;
}

.tags__link {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #151515;
  padding: 4px 10px;
  background-color: #f5f5f5;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.tags__link:hover {
  background-color: gainsboro;
}

.category__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 12px;
  padding: 12px 20px 12px 15px;
  background-color: #F9F9F9;
  border: 1px solid gainsboro;
}

.category__list {
  position: relative;
}

.category__list::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 1px;
  right: 0;
  top: 50%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background-color: #A9A9A9;
}

.category__list--nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: inherit;
}

.category__list--nav::before {
  display: none;
}

.category__item--nav {
  margin-right: 45px;
  position: relative;
}

.category__link {
  margin-right: 60px;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
  cursor: pointer;
}

.category__link--nav {
  font-weight: 500;
  position: relative;
}

.category__link--nav:hover {
  text-decoration: underline;
}

.category__sublist--nav {
  display: none;
  position: absolute;
  z-index: 1;
  left: -5px;
  top: 20px;
  background-color: #f9f9f9;
  padding: 5px 10px 10px 5px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.category__sublist--nav.visible {
  display: block;
}

.category__sublink--nav {
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
}

.category__sublink--nav:hover {
  text-decoration: underline;
}

.category__icon {
  position: absolute;
  content: "";
  top: 2px;
  right: 38px;
  cursor: pointer;
}

.category__icon--nav {
  position: absolute;
  content: "";
  top: 4px;
  right: -14px;
  cursor: pointer;
}

.search {
  border: none;
  width: 300px;
  padding-left: 22px;
  padding-right: 30px;
  background-color: #F9F9F9;
  position: relative;
  color: #A9A9A9;
  outline: none;
}

.search::-webkit-input-placeholder {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: inherit;
  background-color: inherit;
}

.search:-ms-input-placeholder {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: inherit;
  background-color: inherit;
}

.search::-ms-input-placeholder {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: inherit;
  background-color: inherit;
}

.search::placeholder {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: inherit;
  background-color: inherit;
}

.search__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search__img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.form__title {
  margin-bottom: 8px;
}

.form__text {
  margin: 0;
  margin-bottom: 24px;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #A9A9A9;
}

.form-archieve__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px;
  background: #F9F9F9;
  border: 1px solid #D1D1D1;
  border-radius: 12px;
}

.form__email {
  border: none;
  width: 140px;
  padding-left: 0;
  padding-right: 10px;
  background-color: #F9F9F9;
  color: #A9A9A9;
  outline: none;
}

.form__email::-webkit-input-placeholder {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: inherit;
}

.form__email:-ms-input-placeholder {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: inherit;
}

.form__email::-ms-input-placeholder {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: inherit;
}

.form__email::placeholder {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: inherit;
}

.form-archieve__btn {
  background-color: transparent;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.form-archieve__btn:hover {
  background-color: #b5b5b5;
}

.prod__main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 250px 1fr 1fr;
      grid-template-columns: 250px 1fr 1fr;
  -ms-grid-rows: minmax(auto, 300px);
      grid-template-rows: minmax(auto, 300px);
  gap: 0 30px;
}

.prod__aside {
  margin-right: 32px;
}

.prod__sample {
  background-color: #eaf3e0;
  background-image: url(../img/product-bg.svg);
  background-repeat: repeat;
  background-position: center;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 48px 32px 32px;
}

.prod__suptitle {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #6A983C;
  margin-bottom: 6px;
}

.prod__heading {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #151515;
}

.prod__btn {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.prod__btn:hover {
  background-color: #9dc872;
}

.prod__selling {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 270px (1fr)[3];
      grid-template-columns: 270px repeat(3, 1fr);
  gap: 30px 30px;
}

.card {
  border: 1px solid #D1D1D1;
  border-radius: 12px;
  padding: 16px;
  min-height: 315px;
}

.card__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 30px 30px;
}

.card__img {
  width: 100%;
  height: 150px;
  margin-bottom: 16px;
  position: relative;
}

.card__img img {
  width: inherit;
  max-width: 100%;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 12px;
}

.card__sale {
  position: absolute;
  top: 12px;
  left: 12px;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #6A983C;
  background-color: #e8e8e8;
  border-radius: 12px;
  padding: 0px 8px;
}

.card__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card__title {
  margin: 0;
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
}

.card__text {
  margin: 0;
  margin-bottom: 16px;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #959595;
}

.card__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: flex-end;
}

.card__price {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #151515;
}

.card__btn {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.card__btn:hover {
  background-color: #51732e;
}

.reviews__slider {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1000px;
}

.reviews__item {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 24px 32px 24px;
  background: #fff;
  border: 1px solid #F1F1F1;
  border-radius: 12px;
  position: relative;
}

.reviews__title {
  margin: 0;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
  margin-bottom: 16px;
}

.reviews__author {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: darkgray;
}

.reviews__photo {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: -10%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: 1;
}

.reviews__photo img {
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.current-blog__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.current-blog__aside {
  max-width: 170px;
  margin-right: 32px;
}

.current-blog__aside-btn {
  padding: 6px 0;
  opacity: 1;
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.current-blog__aside-btn:hover {
  opacity: .7;
}

.current-blog__paramethers {
  margin-right: 32px;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #A9A9A9;
}

.current-blog__title {
  margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.4;
  color: #fff;
}

.param__item:not(:last-child) {
  margin-bottom: 12px;
}

.current-blog-card__content {
  padding: 32px 200px;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background: -webkit-gradient(linear, left bottom, left top, from(#000000), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  border-radius: 12px;
}

.current-blog-card__info {
  margin-right: 32px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
}

.info__item:not(:last-child) {
  margin-bottom: 12px;
}

.info__link {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
}

.info__link:hover {
  text-decoration: underline;
}

.blog-card {
  position: relative;
  overflow: hidden;
}

.blog-card--current {
  width: 100%;
  height: 480px;
  z-index: 1;
}

.blog-card--lg {
  width: 100%;
  height: 350px;
  z-index: 1;
}

.blog-card--md {
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.blog-card--md .blog-card__photo {
  position: static;
  height: 150px;
  z-index: 0;
  margin-bottom: 12px;
}

.blog-card--md .blog-card__photo img {
  width: inherit;
  height: inherit;
}

.blog-card--md .blog-card__footer {
  color: #151515;
}

.blog-card--md .blog-card__footer img {
  display: none;
}

.blog-card--md .blog-card__author,
.blog-card--md .blog-card__date {
  opacity: 1;
}

.blog-card--sm {
  width: 100%;
  height: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.blog-card--sm:not(:last-child) {
  margin-bottom: 32px;
}

.blog-card--sm .blog-card__photo {
  position: static;
  height: 100%;
  width: 55%;
  z-index: 0;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.blog-card--sm .blog-card__photo img {
  width: 96px;
  height: 96px;
}

.blog-card--sm .blog-card__content--black {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blog-card--sm .blog-card__footer {
  color: #151515;
}

.blog-card--sm .blog-card__footer img {
  display: none;
}

.blog-card--sm .blog-card__author,
.blog-card--sm .blog-card__date {
  opacity: 1;
}

.blog-card__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr .75fr .9fr;
      grid-template-columns: 1fr .75fr .9fr;
  -ms-grid-rows: minmax(auto, 350px);
      grid-template-rows: minmax(auto, 350px);
  gap: 32px 32px;
}

.blog-card__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blog-card__photo {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.blog-card__photo img {
  width: inherit;
  max-width: 100%;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 12px;
}

.blog-card__content {
  height: inherit;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.blog-card__content--white {
  padding: 32px 24px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  background: -webkit-gradient(linear, left bottom, left top, from(#000000), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  border-radius: 12px;
}

.blog-card__content--black {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #151515;
}

.blog-card__category {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #6A983C;
  padding: 0px 8px;
  background: #F4F8EC;
  border-radius: 12px;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.blog-card__category--gray {
  background-color: #f5f5f5;
  margin-bottom: 8px;
}

.blog-card__category:hover {
  opacity: .8;
}

.blog-card__info {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.blog-card__link {
  color: inherit;
}

.blog-card__link:hover {
  text-decoration: underline;
}

.blog-card__title {
  margin: 0;
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
}

.blog-card__title--md {
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 25px;
}

.blog-card__title--sm {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
}

.blog-card__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
}

.blog-card__footer img {
  width: 32px;
  height: 32px;
  border-radius: 50px;
  margin-right: 8px;
}

.blog-card__author {
  margin-right: 16px;
  opacity: 0.8;
}

.blog-card__date {
  opacity: 0.8;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 0;
}

.breadcrumbs__link,
.breadcrumbs span {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #a9a9a9;
}

.breadcrumbs__link:hover,
.breadcrumbs span:hover {
  text-decoration: underline;
}

.breadcrumbs__link:last-child,
.breadcrumbs span:last-child {
  color: #151515;
}

.breadcrumbs__link:last-child:hover,
.breadcrumbs span:last-child:hover {
  text-decoration: none;
  cursor: auto;
}

.breadcrumbs span {
  margin: 0px 10px;
}

.large-banner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 32px;
  padding: 16px 0;
}

.large-banner .blog-card__content--white {
  padding-right: 165px;
}

.large-banner .blog-card__title {
  line-height: 33px;
}

.archieve-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.archieve-aside {
  margin-right: 32px;
}

.archieve__link {
  color: #A9A9A9;
}

.archieve-posts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.archieve-posts .blog-card__content--black {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination__counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #A9A9A9;
}

.pagination__number {
  margin-right: 8px;
}

.pagination__number:first-child {
  margin-left: 8px;
}

.pagination__link {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #151515;
}

.pagination__link.active {
  color: #6A983C;
}

.pagination__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.pagination__btn:hover {
  background-color: #51732e;
}

.tag-title {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #151515;
}

.tag-blog {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #6A983C;
  background-color: #e8e8e8;
  border-radius: 12px;
  padding: 0px 8px;
  margin: 0 8px 8px 0;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.tag-blog:hover {
  background-color: #cfcfcf;
}

.tag-blog__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 48px;
}

.info-tag {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #A9A9A9;
}

.info-tag span {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #6A983C;
  background-color: #e8e8e8;
  border-radius: 12px;
  padding: 0px 8px;
  margin-right: 5px;
}
/*# sourceMappingURL=style.css.map */