@import url("normalize.min.css");
/* Colors */
/* Fonts */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.container {
  width: 100%;
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style-type: none;
}

button, a {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.btn,
button,
a {
  display: inline-block;
  border: none;
  border-radius: 12px;
  color: #151515;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
}

/* Color */
.btn--primary {
  background-color: #6A983C;
  color: #fff;
  border: 2px solid #51732e;
}

.btn--bordered {
  background-color: #fff;
  border: 2px solid #92C064;
}

.btn--gray {
  background-color: #f5f5f5;
  border: none;
}

.btn--transparent {
  background-color: #fff;
  border: none;
}

/* Size*/
.btn--default {
  padding: 17px 48px;
}

.btn--sm {
  padding: 12.5px 16px;
}

.btn--xs {
  padding: 6.5px 12px;
}

.header__top {
  padding: 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #f5f5f5;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__item:not(:last-child) {
  margin-right: 35px;
}

.header__link {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #6A983C;
  position: relative;
}

.header__link::after {
  display: none;
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #51732e;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.header__link:hover:not(.mail-to):not(.call-to)::after {
  display: block;
}

.header__middle {
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.call-to,
.mail-to {
  color: #151515;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.call-to:hover,
.mail-to:hover {
  color: #37D0D6;
}

.user {
  margin-right: 40px;
}

.cart {
  width: 24px;
  height: 24px;
}

.cart__link {
  position: relative;
}

.cart__link::after {
  position: absolute;
  content: "4";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  left: -5px;
  bottom: 0;
  background-color: #E6704B;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
}

.category__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 12px;
  padding: 12px 20px 12px 15px;
  background-color: #F9F9F9;
  border: 1px solid gainsboro;
}

.category__list {
  position: relative;
}

.category__list::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 1px;
  right: 0;
  top: 50%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background-color: #A9A9A9;
}

.category__icon {
  position: absolute;
  content: "";
  top: 2px;
  right: 38px;
  cursor: pointer;
}

.category__item {
  margin-right: 60px;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
  cursor: pointer;
}

.search {
  border: none;
  width: 300px;
  padding-left: 22px;
  padding-right: 30px;
  background-color: #F9F9F9;
  position: relative;
  color: #A9A9A9;
}

.search::-webkit-input-placeholder {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: inherit;
  background-color: inherit;
}

.search:-ms-input-placeholder {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: inherit;
  background-color: inherit;
}

.search::-ms-input-placeholder {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: inherit;
  background-color: inherit;
}

.search::placeholder {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: inherit;
  background-color: inherit;
}

.search__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search__img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */