.category {
  &__form {
    @include dfcc;
    border-radius: 12px;
    padding: 12px 20px 12px 15px;
    background-color: #F9F9F9;
    border: 1px solid darken($lightGray, 10%);
  }

  &__list {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 20px;
      height: 1px;
      right: 0;
      top: 50%;
      transform: rotate(90deg);
      background-color: #A9A9A9;
    }
  }

  &__list--nav {
    position: relative;
    display: flex;
    background-color: inherit;

    &::before {
      display: none;
    }
  }

  &__item--nav {
    margin-right: 45px;
    position: relative;
  }
  
  &__link {
    margin-right: 60px;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: $dark;
    cursor: pointer;

    &--nav {
      font-weight: 500;
      position: relative;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__sublist--nav {
    display: none;
    position: absolute;
    z-index: 1;
    left: -5px;
    top: 20px;
    background-color: #f9f9f9;
    padding: 5px 10px 10px 5px;
    transition: all .3s ease-in-out;
    &.visible {
      display: block;
    }
  }

  &__sublink--nav {
    font-size: 12px;
    line-height: 15px;
    font-weight: 500;
    &:hover {
      text-decoration: underline;
    }
  }

  &__icon {
    position: absolute;
    content: "";
    top: 2px;
    right: 38px;
    cursor: pointer;
  }

  &__icon--nav {
    position: absolute;
    content: "";
    top: 4px;
    right: -14px;
    cursor: pointer;
  }
}

.search {
  border: none;
  width: 300px;
  padding-left: 22px;
  padding-right: 30px;
  background-color: #F9F9F9;
  position: relative;
  color: #A9A9A9;
  outline: none;

  &::placeholder {
    font-family: $secondary-font;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: inherit;
    background-color: inherit;
  }

  &__icon {
    @include dfcc;
  }

  &__img {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
}
.form__title {
  margin-bottom: 8px;
}
.form__text {
  margin: 0;
  margin-bottom: 24px;
  font-family: $secondary-font;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #A9A9A9;
}

.form-archieve__label {
  @include dfcb;
  padding: 12px;
  background: #F9F9F9;
  border: 1px solid #D1D1D1;
  border-radius: 12px;
}

.form__email {
  border: none;
  width: 140px;
  padding-left: 0;
  padding-right: 10px;
  background-color: #F9F9F9;
  color: #A9A9A9;
  outline: none;
  &::placeholder {
    font-family: $secondary-font;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: inherit;
  }
}

.form-archieve__btn {
  background-color: transparent;
  transition: all .2s linear;
  &:hover {
    background-color: darken($lightGray, 25%);
  }
}